@using Com.HedgeMark.Commons.Extensions
@using HM.Operations.Secure.DataModel.Models
@using HM.Operations.Secure.Web.Controllers
@using HM.Operations.Secure.Web.Utility
@using Web.Util
<!DOCTYPE html>
<html>
<head>
</head>

@{
    var userRole = @Util.GetRole(User).Replace("-", " ").Replace("Hm ", string.Empty);
    var commitId = @HttpContext.Current.Session[OpsSecureSessionVars.UserCommitId.ToString()].ToString();
    var isWireApprover = User.IsWireApprover();
    var isWireInitiator = User.IsWireInitiator();
    var isWireApproverStr = isWireApprover ? "true" : "false";
    var isWireAdmin = User.IsWireAdmin();
    var isWireReadOnlyStr = User.IsWireReadOnly() ? "true" : "false";
    var isWireAdminStr = isWireAdmin ? "true" : "false";
    var indexURL = isWireAdmin ? @Url.Action("Index", "Home") : @Url.Action("Index", "User");
}
<body ng-app="HmOperationsSecureApp">

    @foreach (var bundle in BundleTable.Bundles.Where(bundle => bundle is StyleBundle))
    {
        @Styles.Render(bundle.Path)
    }
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="utf-8">
    <title>HM OPs Secure-@ViewBag.Title</title>
    <div ng-controller="layoutSettingsCtrl">
        <div class="navbar navbar-ops navbar-ops-brand">
            <span class="navbar-ops-title-divider" style="height:25px;margin-left:0px"></span><span>
                <a class="navbar-ops-title" style="padding-top:8px;margin-left:15px" href=@Url.Action("Index", "Home")>
                    HM-OPS-SECURE
                    @if (@Util.IsLowerEnvironment)
                    {
                        @(Util.Environment.ToUpper());
                    }
                </a>
            </span>
            <div class="navbar-brand">
                <a href=@indexURL>  <img src="~/images/LOGO_innocap-hm_rgb.png" style="height:35px"></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top: 13px;" title="@User.Identity.Name"><label style="font-size: 13px;" class="label label-default" href="#"><i class="glyphicon glyphicon-user"></i> @userRole</label></li>
                <li id="liMainNavUserSettings" title="@User.Identity.Name" style="padding-top: 1px;padding-left: 7px;" ng-click="fnShowUserSettings()">
                    <img src="https://mysourcesocial.bnymellon.net/people/@commitId/avatar/45.png" alt="" onerror="this.onerror=null;this.src='../Images/45.png';" class="profileImage" />
                </li>
            </ul>
        </div>
        <input type="hidden" id="environment" value="@Util.Environment.ToLower()" />
        <input type="hidden" id="userName" value="@User.Identity.Name" />
        <input type="hidden" id="IsWireApprover" value="@isWireApproverStr" />
        <input type="hidden" id="IsWireReadOnly" value="@isWireReadOnlyStr" />
        <input type="hidden" id="IsWireAdmin" value="@isWireAdminStr" />

        <div class="navbar-ops-menu">

            <ul class="nav navbar-nav">
                <li title="home" id="liMainDashboardHome"><a href=@Url.Action("Index", "Home")><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>
                <li id="liWiresDashboard">@Html.ActionLink("Dashboard", "Index", "WiresDashboard")</li>
                @if (isWireAdmin)
                {
                    <li id="liUserOperations"><a href=@Url.Action("Index", "User")>&nbsp;User Management</a></li>
                }
                <li id="liAccounts">@Html.ActionLink("Fund Accounts", "Index", "FundAccounts")</li>
                <li id="liSSITemplates">@Html.ActionLink("SSI Templates", "Index", "SSITemplate")</li>
                <li id="liWirePurpose">@Html.ActionLink("Wire Purposes", "Index", "WirePurpose")</li>
                <li id="liWireCutOffs">@Html.ActionLink("Wire Cutoffs", "Index", "WirePortalCutoff")</li>
                <li id="liSwiftGroups">@Html.ActionLink("Swift Groups", "Index", "SwiftGroup")</li>
                <li id="liABAOrBIC">@Html.ActionLink("Bank Address", "BankAddress", "FundAccounts")</li>
                <li id="liWireLogs">@Html.ActionLink("Wire Logs", "Index", "WireLog")</li>
                <li id="liUserLogs">@Html.ActionLink("User Audits", "Index", "Audit")</li>
                <li id="liMQLogs">@Html.ActionLink("MQ Logs", "MqLogs", "Audit")</li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                @if (!isWireAdmin)
                {
                    if (!isWireInitiator)
                    {
                        <li id="liSystemConfig"><a href="@Url.Action("Index", "Configuration")"><i class="glyphicon glyphicon-cog"></i></a></li>
                    }
                    <li title="Hangfire Jobs"><a href="/jobs" target="_blank"><i class="glyphicon glyphicon-stats"></i></a></li>
                }
                <li title="Logout"><a id="btnLogOff"><i class="glyphicon glyphicon-log-out"></i></a></li>
            </ul>
        </div>
        <div class="collapse container-fluid" id="userSettings" style="padding-top: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading row">
                    Total Experience: <b>{{UserDetail.TotalYearsOfExperience}} years</b><br />
                    Total Experience in HM: <b>{{UserDetail.TotalYearsOfExperienceInHM}} years</b><br />
                    @*Is VP and Above: <label class="label" ng-class="{'label-default':!UserDetail.IsUserVp,'label-success':UserDetail.IsUserVp }">{{UserDetail.IsUserVp==true ? 'Yes' : 'No'}}</label><br />*@
                    Authorized Wire limit per transaction: <b>{{AllowedWireAmountLimit}} USD</b>
                    <button type="button" class="close" ng-click="fnHideUserSettings()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="margin-top: 20px; ">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <div class="notifications top-right" style="z-index: 2000"></div>
    <div class="notifications bottom-right"></div>
    <div class="notifications top-left"></div>
    <div class="notifications bottom-left"></div>
    <div class="notifications center"></div>

    <br />
    <br />
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><small>© @DateTime.Now.Year HedgeMark International, LLC. All rights reserved.</small></p>
        </div>
    </footer>


    @foreach (var bundle in BundleTable.Bundles.Where(bundle => bundle is ScriptBundle))
    {
        @Scripts.Render(bundle.Path)
    }
    <script type="text/javascript" src=@("~/Scripts/OpsSecure/layout.js".GetModifiedStaticFileUrl())></script>
    @RenderSection("JavaScript", required: false)
    @this.InjectAdditionalScripts()

</body>
</html>


